@font-face {
	font-family: "Montserrat";
	src: url("font/Montserrat-VariableFont_wght.ttf") format("truetype");
}

html, body {
	margin: 0;
	padding: 0;
	color: black;
	background-color: white;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

body {
	padding: 0;
}

.col_central {
	margin: 150px auto;
	margin: 0 auto;
	max-width: 800px;
	top: 0;
	position: relative;
}

.acceuil {
	width: 100%;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	position: relative;
	top: 0;
	z-index: 10;
}

.animation {
	position: fixed;
	z-index: 20;
	width: 100%;
	min-height: 100vh;
	min-height: -webkit-fill-available;

}

.animation .img_container {
	display: block;
	height: 60%;
	width: 100%;
	position: absolute;
	bottom: 200px;
	margin: 0 auto;
	text-align: center;
}

.animation .img_container img {
	height: 100%;
	display: inline-block;
}

.corp {
	z-index: 50;
	background-color: white;
	position: relative;
}

.menu {
	position: sticky;
	top: 0;
	margin-top: -200px;
	height: 100px;
	z-index: 100;
	background-color: white;
}

.actions {
	text-align: center;
}

.actions a {
	background-color: #f0f0f0;
	border: #f0f0f0 1px solid;
	border-radius: 5px;
	color: #1e824c;
	text-transform: uppercase;
	font-weight: normal;
	padding: 3px 5px;
	cursor: pointer;
	appearance: none;
	margin-bottom: 3px;
	font-size: .8em;
	text-decoration: none;
}

.actions div {
	text-align: center;
}

.sous_titre {
	text-align: center;
	color: #1e824c;
	font-family: Montserrat;
	font-size: .8em;
}

.pieddepage {
	background-color: #1e824c;
	color: white;
	padding: 80px 40px;
	position: relative;
	z-index: 50;
	text-align: center;
}

.pieddepage div {
	width: 18%;
	display: inline-block;
	font-size: .8em;
	vertical-align: top;
}

.pieddepage #img_couple_foot {
	width: 80px;
}

.pieddepage a {
	color: white;
}

.pieddepage h4 {
	text-transform: uppercase;
}

h1, h2, h4, .soustitre, button {
	font-family: Montserrat;
}

.gradiant_logo {
	color: #1e824c;
	background-image: linear-gradient(90deg, #0b6334, #37a369);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	font-size: 1.1em;
	font-weight: 900;
}

h2 {
	margin-top: 80px;
	font-weight: 300;
	text-transform: uppercase;
	color: #1e824c;
	text-align: center;
}

h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 50px;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.soustitre {
	font-size: 3.5vmin;
	margin-bottom: 40px;
}

.centre {
	text-align: center;
}

.monospace {
	font-family: monospace;
}

p {
	text-align: justify;
}

button {
	display: inline-block;
	background-color: #1e824c;
	color: white;
	border: 0;
	font-size: .9em;
	border-radius: 3px;
	padding: 5px 10px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
}

a {
	color: #1e824c;
}

.vert {
	color: #1e824c;
}

.rouge {
	color: #ac2433;
}

.orange {
	color: #fbca0b;
}

.gris {
	color: #696969;
}

ul {
	list-style-type: none;
}

ol li {
	margin: 10px 0;
}

.desc_emoji {
	line-height: 1.5em;
	display: inline-block;
	margin-left: 15px;
}

.media_border {
	border: 7px solid #d2d2d2;
	border-radius: 5px;
}

.capture {
	width: 55px;
}

video {
	float: left;
	height: 370px;
}

.chiffre {
	text-align: center;
}

.chiffre_cle {
	display: inline-block;
	text-align: center;
	margin: 1%;
	margin-bottom: 0;
	max-width: 30%;
	vertical-align: top;
}

.chiffre_cle span {
	font-family: Montserrat;
	font-weight: bolder;
	font-size: 2.5em;	
}

.chiffre_cle p {
	text-align: center;
}

.chiffre_couples {
	color: #ac2433;
}

.chiffre_cycles {
	color: #fc520b;
	color: #ac2433;
}

.chiffre_observations {
	color: #fbca0b;
	color: #ac2433;
}

@media (prefers-color-scheme: dark) {

	html, body, .corp, .menu {
		color: white;
		background-color: black;
	}

	.img_svg {
		filter: invert(1);
	}

	.media_border {
		border-color: #393939;
	}

	.actions a {
		background-color: #191919;
		border-color: #191919;
	}

}

@media (max-width: 650px) {

	video {
		float: none;
		display: block;
		margin: 0 auto;
	}

}

.espace {
	width: 100%;
	height: 150px;
}

.emo_fume {
	animation-duration: 30s;
	animation-name: emo_fume_animation;
	width: 0;
	height: 0;
	/*background: cyan;*/
	position: fixed;
	z-index: 20;
	overflow: hidden;
	font-size: 0;
	text-align: right;
}

@keyframes emo_fume_animation {

	0% {
    		width: 40px;
		height: 40px;
	}

	1% {
		font-size: 1em;
	}
	
	100% {
		transform: translate(0px, -100vh);
		font-size: 1em;
		width: 40px;
		height: 40px;
	}
}

.boite_capture {
	height: 60vh;
	margin-bottom: 40px;
}

.boite_capture,
.boite_a_mini {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

.boite_capture img {
	height:100%;
}

@media (max-width: 700px) {

	h1 {
		font-size: 7vw;
	}

	.corp {
		padding: 0 15px;
	}

	.emo_fume {
		font-size: .8em;
	}

	.menu {
		height: 70px;
		margin-top: -130px;
	}

	.animation .img_container {
		bottom: 150px;
	}


	.pieddepage div {
		width: 90%;
		display:block;
	}

	.chiffre {
		font-size: .65em;
	}

	.chiffre_cle span : {
		font-size: 1.2em;
	}

	.boite_capture,
	.boite_a_mini {
		display: block;
		width: 100%;
	}
}



.boite_a_mini .active img {
	border-color: #1e824c;
}

