@font-face {
	font-family: "Montserrat";
	src: url("/font/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

h1, h2 {
	font-family: 'Montserrat';
}

h1 {
	font-weight: normal;
	margin-top: 50px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	background-color: white;
}

.gradiant_logo {
	color: #1e824c;
	background-image: linear-gradient(90deg, #0b6334, #37a369);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	font-size: 1.1em;
	font-weight: 900;
}

html, body, .popup {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: white;
	color: black;
}

a {
	color: #1e824c;
}

.popup {
	background-color: white;
	border: 1px solid #c8c8c8;
}



#nom {
	font-family: 'Montserrat';
	font-weight: lighter;
	font-size: 1.7em;
}

.nav_button {
	margin-top: 20px;
}

.contennu {
	padding-bottom: 60px;
	max-width: 550px;
	margin: 0 auto;
}

input[type=button],
input[type=submit],
button {
	background-color: #f0f0f0;
	border: #f0f0f0 1px solid;
	border-radius: 5px;
	color: #1e824c;
	text-transform: uppercase;
	font-weight: normal;
	padding: 3px 5px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=button].rouge,
input[type=submit].rouge,
button.rouge {
	color: #ac2433;
}

input[type=button].rougei:focus,
input[type=submit].rouge:focus,
button.rouge:focus {
	border-color: #ac2433;
}

input[type=text],
input[type=number],
input[type=password],
input[type=email],
select,
textarea {
	background-color: #f0f0f0;
	border: #f0f0f0 1px solid;
	border-radius: 5px;
	padding: 5px 7px;
	font-size: .9em;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
	border-color: #1e824c;
}

input:disabled,
input[type=email]:read-only,
input[type=email]:-moz-read-only,
select:disabled,
button:disabled,
textarea:disabled {
	color: gray;
}

.placeholder,
::placeholder {
	font-size: .7em;
	font-style: italic;
}

@media (prefers-color-scheme: dark) {
	html, body, h2, .popup {
		background-color: black;
		color: white;
	}
	
	.popup {
		background-color: black;
		border-color: #393939;
	}
	
	input[type=button],
	input[type=submit],
	button {
		background-color: #191919;
		border-color: #191919;
	}
	
	input[type=text],
	input[type=number],
	input[type=password],
	input[type=email],
	select,
	textarea {
		color: white;
		background-color: #191919;
		border-color: #191919;
	}
	
	input:focus,
	select:focus,
	button:focus,
	textarea:focus {
		outline: none;
		border-color: #1e824c;
	}

	input[type=email]:read-only,
	input[type=email]:-moz-read-only {
		color: gray;
	}

}
