/* moncycle.app
**
** licence Creative Commons CC BY-NC-SA
**
** https://www.moncycle.app
** https://github.com/jean-io/moncycle.app
*/

input[type=text],
input[type=email],
input[type=password],
textarea,
select {
	width: 90%;
}

.contennu {
	padding: 15px;
}

.label_info {
	font-style: italic;
	font-size: .8em;
	color: gray;
}

form {
	display: inline;
}

.captcha {
	margin-top: 3px;
	border-radius: 3px;
}

.decouverte {
	text-decoration: none;
}
