/* moncycle.app
**
** licence Creative Commons CC BY-NC-SA
**
** https://www.moncycle.app
** https://github.com/jean-io/moncycle.app
*/

.flou {
	filter: blur(5px);
	pointer-events: none;
}

.day {
	cursor: pointer;
	padding-left: 3px;
}

.day span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.day span:empty {
	display: none;
}

.day .d {
	font-family: monospace;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: .7em;
	float: right;
	text-transform: uppercase;
}

.day .j {
	color: gray;
	font-family: monospace;
	text-align: right;
	width: 20px;
	height: 25px;
	line-height: 25px;
}

.day .g {
	width: 25px;
	height: 25px;
	line-height: 25px;
	padding-top: 0px;
	text-align: center;
	border-right: 1px solid black;
	border-left: 1px solid black;
	margin-right: 5px;
	overflow: hidden;
}

.day:first-child .g {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-width: 1px;
	border-top-style: solid;
}

.day:last-child .g {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.day .u {
	font-size: .9em;
}

.day .e {
	font-weight: light;	
	text-transform: uppercase;
	font-family: "Montserrat";
}

.day .r {
	color: #fbca0b;
}

.day .p {
	color: gray;
	font-size: .8em;
	font-style: italic;
}

.day .fc {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: .8em;
}

.day .fc .note_not_imp {
	vertical-align: top;
	font-weight: normal;
	margin: 0;
}

.day .fc .note_rouge {
	color: #ac2433;
	vertical-align: top;
	font-weight: normal;
	margin: 0;
}

.day .fle {
	font-size: .9em;
}

.day .rouge,
.obs .rouge {
	background-color: #ac2433;
	border-color: #821521;
	color: #ac2433;
}

.day .vert,
.obs .vert {
	background-color: #1e824c;
	border-color: #16683c;
	color: #1e824c;
}

.day .jaune,
.obs .jaune {
	background-color: #fbca0b;
	border-color: #e3b607;
	color: #fbca0b;
}

.day .jcpas,
.obs .jcpas {
	border-color: #c3e2ff;
	background: repeating-linear-gradient(45deg, #edf6ff, #edf6ff 3px, #d3eaff 3px, #d3eaff 6px);
	font-weight: bold;
	font-family: "Montserrat";
	font-size: .9em;
}

.obs .jcpas,
.day .jcpas,
.day .j_jcpas {
	color: #366392;
}

.day .ar,
.obs .vide {
	border-color: #ffe88b;
	background: repeating-linear-gradient(45deg, #fffae7, #fffae7 3px, #ffeda8 3px, #ffeda8 6px);
}

.day .ar,
.day .j_ar {
	color: #a39040;
}

.day .g_loading,
.obs .g_loading {
	border-color: #f1f1f1;
	background-color: #f1f1f1;
}

.day .bebe {
	border-color: #d2d2d2;
	background-color: #fbfbfb;
}

.obs .bebe  {
	border-color: #e4e4e4;
	background-color: #fbfbfb;
}

/* .obs .jcpas {
	background-color: #00200e;
	border-color: #00200e;
	color: white;
} */

.day .jesaispas {
	border-style: dashed;
	font-family: Montserrat;
	font-weight: 600;
}

.o_fc .s {
	font-family: "Montserrat";
	font-size: .8em;
}

.obs .n,
.day .n,
.day .s,
.obs .s {
	font-family: monospace;
	font-size: .9em;
}

.day .s,
.day .n {
	font-weight: bold;
}

.day .n,
.obs .n,
.day .j_vert {
	color: #1e824c;
}

.day .j_rouge {
	color: #ac2433;
}

.day .j_jaune {
	color: #fbca0b;
}

.popup label.yellow,
.popup label.red,
.popup label.green {
	font-weight: bold;
}

.day .s,
.obs .s {
	color: #8B4513;
}

.day .j_pic {
	font-family: "Montserrat";
}

.day .o {
	font-size: .9em;
}

.day .c {
	font-size: .7em;
	font-style: italic;
	display: inline-flex;
	position: relative;
}

.day .t:not(:empty) {
	background-color: gray;
	font-size: .75em;
	border-radius: 10px;
	color: white;
	padding: 2px 5px;
}

.day .t:not(:empty)::after {
	content: '°';
}

.day .th {
	font-size: .7em;
}

.popup .go_color {
	display: inline-block;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
	background-color: #fbfbfb;
	color: #aeaeae;;
	font-weight: bold;
	width: 23%;
	margin: 0;
}

.popup .go_color_red {
	background-color: #ac2433;
	border-color: #821521;
	color: white;
}

.popup .go_color_green {
	background-color: #1e824c;
	border-color: #16683c;
	color: white;
}

.popup .go_color_yellow {
	background-color: #fbca0b;
	border-color: #e3b607;
	color: white;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

#jour_form, #temp_graph {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	padding: 0 10px;
	border-radius: 3px;
}

#jour_form {
	max-width: 600px;
	margin: auto;
}

#jour_form_suppr_holder {
	text-align: right;
	display: inline-block;
	width: 95%;
}

#jour_form_header {
	position: sticky;
	top: 0;
	background-color: white;
	padding-top: 5px;
}

#jour_form_header .popup_enregistratement_status {
	font-size: .8em;
}

#jour_form_titre {
	font-family: 'Montserrat';
	padding: 5px 0 5px 0;
	text-align: center;
}

#jour_form_titre span {
	font-weight: lighter;
}

#jour_form #bulk_form {
	background-color: #edf6ff;
	padding: 5px 10px;
	border-radius: 5px;
}

#jour_form #bulk_form #i_bulk_compter {
	width: 50px;
	text-align: center;
}

.categorie {
	font-weight: bold;
}

.err {
	color: red;
}

h2 {
	position: sticky;
	top: 0px;
	margin: 0;
	margin-top: 30px;
	padding: 5px 10px;
	z-index: 100000;
	cursor: pointer;
}

.cycle_options {
	padding: 3px;
	padding-left: 10px;
}

.cycle_options button {
	font-size: .6em;
}

.nouveau_cycle_form {
	margin-left: 10px;	
}

.note {
	color: gray;
	font-size: .9em;
	font-family: monospace;
	line-height: 1;
	margin: 0;
}

#temp_graph {
	padding-top: 10px;
}

#temp_graph_close {
	display: block;
	float: right;
}

#temp_graph_titre {
	font-family: 'Montserrat';
}

#graph_container {
	position: relative;
	height: calc(100% - 20px);
	width: 100%;
}

.actu {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	max-width: 550px;
	padding: 5px;
	border: 1px dotted #1e824c;
	border-radius: 8px;
}

.cycle .graph {
	width: 100%;
	height: 250px;
}

.actu .tag {
	color: #1e824c;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .7em;
	vertical-align: top;
}

.actu h4 {
	margin: 0;
	font-family: Montserrat;
}

.actu time {
	color: gray;
}

#fc_msg {
	font-family: monospace;
	float: right;
}

#note_fc_holder {
	position: sticky;
	top: 62px;
	background-color: white;
}

#form_fc {
	text-transform: uppercase;
}

.cycle_recap:first-child {
	padding-top: 25px;
}

.cycle_recap .obs {
	display: inline-block;
	cursor: pointer;
	line-height: 10px;
}

.cycle_recap .obs,
.mini_ruler span {
	width: 2.857%; /* 100% / 35j */
}

.cycle_recap .obs span {
	display: inline-block;
	height: 9px;
	width: 100%;
	font-size: 6.5px;
	text-align: center;
	font-family: monospace;
	overflow: hidden;
}

.cycle_recap .obs span.g {
	border-width: 1px 0;
	border-style: solid;
	color: #370006;
	height: 9px;
	padding-top: 1px;
	vertical-align: sub;
}

.cycle_recap .obs:last-child span.g {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.cycle_recap .obs span.jcpas {
	padding: 0;
	height: 10px;
}

.cycle_recap .obs span.vide {
	border-width: 1px 0;
	border-style: solid;
	border-color: #ffeda8;
	background-color: #fff6d4;
}

.cycle_recap .obs span.rouge {
	font-weight: bold;
}

.cycle_recap .obs:first-child span.g {
	border-left-style: solid;
	border-left-width: 1px;
}

.cycle_recap .obs:last-child span.g {
	border-right-style: solid;
	border-right-width: 1px;
}

.cycle_recap .obs span.fc {
	font-weight: bold;
}

.cycle_recap h5 {
	display: block;
	margin: 0;
	margin-left: 10px;
	margin-top: 3px;
	padding-top: 8px;
	font-weight: normal;
	font-family: 'Montserrat';
	font-size: 13px;
	cursor: pointer;
}

#nocycle {
	text-align: center;
	margin-top: 25px;
	font-family: 'Montserrat';
}

#jour_form_suppr {
	font-size: .6em;
}

.but_j_nav {
	display: block;
	float: right;
	margin-left: 5px;
}

#ev_compteur_nb {
	text-align: center;
	width: 35px;
	padding-top: 0;
	padding-bottom: 0;
}

.o_gross,
.o_gross .j,
.cycle_recap .obs span.pink,
.o_gross .s,
.o_gross .n {
	color: #821521;
}

.o_gross,
.cycle_recap .obs span.pink {
	background-color: #ffecee;
	border-color: #ffecee;
}

.cycle_recap .obs:last-child span.pink {
	border-right-width: 0;
	border-right: 0;
	font-weight: bold;
	height: 10px;
	padding-top: 0;
}

.cycle_recap .o_gross {
	border-radius: 3px;
}

#timeline .o_gross {
	padding-top: 2px;
}

.mini_ruler {
	display: block;
	height: 10px;
	line-height: 10px;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 3px 0;
	background-color: white;
}

.mini_ruler span {
	display: inline-block;
	height: 10px;
	font-size: 7px;
	text-align: center;
	font-family: monospace;
	overflow: hidden;
	background-color: #f1f1f1;
	vertical-align: middle;
	padding-top: 1px;
}

.mini_ruler span.odd {
	background-color: #d2d2d2;
}

.label_anonymous_export {
	font-size: .8em;
	vertical-align: middle;
	color: gray;
}

@media (min-width: 601px) {

	.o_gross {
		border-radius: 3px;
	}

	.cycle_recap h5 {
		margin-left: 0;
	}

	.cycle_recap .obs:first-child span.g {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	.cycle_options,
	h2 {
		padding-left: 0;
	}

	.day {
		padding-left: 0;
	}

	.nouveau_cycle_form {
		margin-left: 0;	
	}

}

@media (prefers-color-scheme: dark) {

	h2 a {
		background-color: white;
		color: black;
	}

	.mini_ruler,
	#jour_form_header,
	#note_fc_holder {
		background-color: black;
	}

	.day .bebe,
	.obs .bebe  {
		border-color: #dedede;
	}


	.cycle_recap .obs span.j {
		color:#343434;
	}

	.day .ar,
	.cycle_recap .obs span.vide {
		border-color: #332900;
		background: repeating-linear-gradient(45deg, #493b00, #493b00 3px, #332900 3px, #332900 6px);
	}

	.day .ar,
	.day .j_ar {
		color: #ffeda8;
	}

	.mini_ruler span {
		background-color: #4c4c4c;
	}
	
	.mini_ruler span.odd {
		background-color: #292929;
	}

	.cycle_recap .obs span.g {
		color: white;
	}

	.o_gross,
	.o_gross .j,
	.cycle_recap .obs span.pink,
	.o_gross .s,
	.o_gross .n {
		color: #faa;
	}

	.o_gross,
	.cycle_recap .obs span.pink {
		background-color: #3c0006;
		border-color: #3c0006;
	}

	.day .j_bebe {
		color: #fbfbfb;
	}

	.day .jcpas,
	.obs .jcpas {
		border-color: #001e3c;
		color: #dfefff;
		background: repeating-linear-gradient(45deg, #00284f, #00284f 3px, #001e3c 3px, #001e3c 6px);
	}

	.day .g_loading,
	.obs .g_loading {
		border-color: #2c2c2c;
		background-color: #2c2c2c;
	}

	#jour_form #bulk_form {
		background-color: #001e3c;
	}
}
