/* moncycle.app
**
** licence Creative Commons CC BY-NC-SA
**
** https://www.moncycle.app
** https://github.com/jean-io/moncycle.app
*/

.flou {
	filter: blur(5px);
	pointer-events: none;
}

.day {
	padding: 1px;
	cursor: pointer;
	min-height: 28.5px;
}
	
.day span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}

.day span:empty {
	display: none;
}

.day .d {
	font-family: monospace;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: .7em;
	float: right;
	text-transform: uppercase;
}

.day .j {
	color: gray;
	font-family: monospace;
	text-align: center;
	width: 20px;
	height: 26px;
	line-height: 26px;
}

.day .g {
	width: 25px;
	height: 25px;
	line-height: 25px;
	padding-top: 0px;
	text-align: center;
	border: 1px solid black;
	border-radius: 2px;
	margin-right: 5px;
}

.day .e {
	font-weight: light;	
	text-transform: uppercase;
	font-family: "Montserrat";
}

.day .r {
	color: #fbca0b;
}

.day .p {
	color: gray;
	font-size: .85em;
	font-style: italic;
}

.day .fc {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: .8em;
}

.day .fc .note_not_imp {
	vertical-align: top;
	font-weight: normal;
	margin: 0;
}

.day .fc .note_rouge {
	color: #ac2433;
	vertical-align: top;
	font-weight: normal;
	margin: 0;
}

.day .rouge,
.obs .rouge {
	background-color: #ac2433;
	border-color: #821521;
	color: #ac2433;
}

.day .vert,
.obs .vert {
	background-color: #1e824c;
	border-color: #16683c;
	color: #1e824c;
}

.day .jaune,
.obs .jaune {
	background-color: #fbca0b;
	border-color: #e3b607;
	color: #fbca0b;
}

.day .bebe {
	border-color: #b6b6b6;
	background-color: white;
}

.obs .bebe  {
	border-color: #e4e4e4;
	background-color: #f6f5f5;
}

.obs .bleu {
	background-color: #00200e;
	border-color: #00200e;
	color: white;
}

.day .jesaispas {
	border-style: dashed;
	font-family: Montserrat;
	font-weight: 600;
}

/* .day .u {

} */

.day .s {
	font-family: monospace;
}

.obs .n,
.day .n {
	color: #1e824c;
	font-family: monospace;
}

/* .day .o {

} */

.day .c {
	font-size: .7em;
	font-style: italic;
	display: inline-flex;
	position: relative;
}

.day .t:not(:empty) {
	background-color: gray;
	font-size: .75em;
	border-radius: 10px;
	color: white;
	padding: 2px 5px;
}

.day .t:not(:empty)::after {
	content: '°';
}

.day .th {
	font-size: .7em;
}

.petit {
	font-size: .8em;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

#jour_form, #temp_graph {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	padding: 0 10px;
	border-radius: 3px;
}

#jour_form {
	max-width: 600px;
	margin: auto;
}

#jour_form_suppr_holder {
	text-align: right;
	display: inline-block;
	width: 95%;
}

#jour_form_header {
	position: sticky;
	top: 0;
	background-color: white;
	padding-top: 5px;
}

#jour_form_header .popup_enregistratement_status {
	font-size: .8em;
}

#jour_form_titre {
	font-family: 'Montserrat';
	padding: 5px 0 5px 0;
	text-align: center;
}

#jour_form_titre span {
	font-weight: lighter;
}

.categorie {
	font-size: 1.1em;
}

.err {
	color: red;
}

h2 {
	position: sticky;
	top: 0px;
	margin: 0;
	margin-top: 30px;
	padding: 5px 10px;
}

.options {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 3px;
}

.nouveau_cycle_form {
	margin-left: 10px;	
}

.note {
	color: gray;
	font-size: .9em;
	font-family: monospace;
	line-height: 1;
	margin: 0;
}

#temp_graph {
	padding-top: 10px;
}

#temp_graph_close {
	display: block;
	float: right;
}

#temp_graph_titre {
	font-family: 'Montserrat';
}

#graph_container {
	position: relative;
	height: calc(100% - 20px);
	width: 100%;
}

.actu {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	max-width: 550px;
	padding: 5px;
	border: 1px dotted #1e824c;
	border-radius: 8px;
}

.cycle .graph {
	width: 100%;
	height: 250px;
}

.actu .tag {
	color: #1e824c;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .7em;
	vertical-align: top;
}

.actu h4 {
	margin: 0;
	font-family: Montserrat;
}

.actu time {
	color: gray;
}

#fc_msg {
	font-family: monospace;
}

#form_fc {
	text-transform: uppercase;
}

.cycle_recap .obs {
	display: inline-block;
	cursor: pointer;
	width: 2.857%;
	line-height: 10px;
}

.cycle_recap .obs span {
	display: inline-block;
	height: 9px;
	width: 100%;
	font-size: 6.5px;
	text-align: center;
	font-family: monospace;
	overflow: hidden;
}

.cycle_recap .obs span.j {
	color:#e4e4e4;
	font-weight: bold;
	vertical-align: bottom;
}

.cycle_recap .obs span.g {
	border-width: 1px 0;
	border-style: solid;
	color: #370006;
	height: 9px;
	padding-top: 1px;
	vertical-align: sub;
}

.cycle_recap .obs span.rouge {
	font-weight: bold;
	padding: 0;
	height: 10px;
}

.cycle_recap .obs:first-child span.g {
	border-left-style: solid;
	border-left-width: 1px;
}

.cycle_recap .obs:last-child span.g {
	border-right-style: solid;
	border-right-width: 1px;
}

.cycle_recap .obs span.fc {
	font-weight: bold;
}

.cycle_recap h5 {
	margin: 0;
	margin-left: 20px;
	margin-top: 15px;
	font-weight: normal;
	font-family: 'Montserrat';
}

.cycle_recap:first-child h5 {
	margin-top: 30px;
}

#nocycle {
	text-align: center;
	margin-top: 25px;
	font-family: 'Montserrat';
}

#jour_form_suppr {
	font-size: .6em;
}

.but_j_nav {
	display: block;
	float: right;
	margin-left: 5px;
}

#ev_compteur_nb {
	text-align: center;
	width: 35px;
}

@media (prefers-color-scheme: dark) {

	h2 a {
		background-color: white;
		color: black;
	}

	#jour_form_header {
		background-color: black;
	}

	.day .bebe,
	.obs .bebe  {
		border-color: #b6b6b6;
	}


	.cycle_recap .obs span.j {
		color:#343434;
	}
}
